
<!-- Page content -->
<div class="page-content cover">

  <!-- Main content -->
  <div class="content-wrapper">

    <!-- Content area -->
    <div class="content d-flex justify-content-center align-items-center">

      <!-- Login form -->
      <form class="login-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="card mb-0">
          <div class="card-body">
            <div class="text-center mb-3">
              <!-- <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i> -->
              <img src="http://209.97.160.237/koiapp/public/images/koi.png" alt="Iniciar sesion koi-ti">
              <h5 class="mb-0">Inicia sesión en tu cuenta</h5>
              <span class="d-block text-muted">Ingrese sus credenciales a continuación</span>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
              <input type="text" class="form-control" placeholder="Usuario" formControlName="username">
              <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
              </div>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
              <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Ingresar <i
                  class="icon-circle-right2 ml-2"></i></button>
            </div>

            <div class="text-center">
              <a href="login_password_recover.html">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </div>
      </form>
      <!-- /login form -->

    </div>
    <!-- /content area -->

  </div>
  <!-- /main content -->

</div>
<!-- /page content -->